body {
    background: lavender;

}
.heading {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.heading h1{
    color: rebeccapurple;
    font-family: 'Share Tech Mono';
}
.button {
    -webkit-transition-duration: 0.4s;
    background-color:  #660066; /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background-color: white;
    color: black;
    border: 2px solid #660066;
}